#app {
  max-width: 1400px;
}

.button_box{
  margin:3px;
  padding:2px;
  background-color: #dad;
  box-shadow: 2px 2px 4px;
  border:1px solid #00a;
}

@media (hover: hover) {
  label:hover {
    background-color: #0002;
  }
}
